<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    DevOps Notts is a meetup designed to bring together those interested in DevOps and cloud native tech, culture, practices and tooling.  As a group we strive to build a community of DevOps and Site Reliability Engineering fans, innovators, implementors and experts from all sectors and levels.
                </p>
                <p>
                    So if you're a junior developer, just have a passion for tech or you're a C-Level Executive DevOps Nottingham brings everyone together to build a community, to share knowledge, best practices and ideas.  Together we can collaborate to make Nottingham the DevOps capital of the UK! 
                </p>
            </div>
            <div class="col-lg-6">
                <img src="/css/2017_style/img/devopscloud.jpg" alt="DevOps Word Cloud" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contributions</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Our logo was generously designed and donated by Paul Wallas.
                </p>
            </div>
        </div>
    </div>
</section>