<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join in!</h2>
                </div>
            </div>
            <div class="row container">                                
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed, .video img {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video">
                    <img src="/css/2017_style/img/people.jpg" />
                </div><br>

                 <center>
                    <a href="https://www.meetup.com/DevOps-Notts/" class="page-scroll btn btn-xl">
                        <i class="fab fa-meetup fa-3x"></i> <h3>Join the Meetup!</h3>
                    </a>
                    <a href="https://join.slack.com/t/devopsnotts/shared_invite/enQtNjQ4MTg3NTY2MDE3LThhOGQzZDZhN2M4ODRhOWIxZWNmMGQwMTQ5OTExMjkyYzczYzRjMWUyODExNjg4ZjEwNjMwYWM5MjBhMTJjYWI" class="page-scroll btn btn-xl">
                        <i class="fab fa-slack fa-3x"></i> <h3>Join Slack</h3>
                    </a>
                </center>
            </div>
        </div>
    </section>