<!-- Portfolio Grid Section -->
<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <h3 class="section-subheading text-muted">Join us with this month's speakers!</h3>
            </div>
        </div>
        <div class="row">
            {% for post in site.data.twenty_17.speakers %}
            <div class="col-md-6 col-sm-6 speakers-item">
                <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../css/2017_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered"
                        alt="">
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>DevOps Notts are always looking for speakers - no matter how experienced. Maybe you'd even like to
                    run a session or workshop or it could be as simple as "look at this cool thing I found!" Get in
                    touch on <a
                        href="https://join.slack.com/t/devopsnotts/shared_invite/enQtNjQ4MTg3NTY2MDE3LThhOGQzZDZhN2M4ODRhOWIxZWNmMGQwMTQ5OTExMjkyYzczYzRjMWUyODExNjg4ZjEwNjMwYWM5MjBhMTJjYWI">Slack</a>
                    or <a href="#contact" class="scroll-to">contact us</a> if you'd like to speak at one of our events.
                </p>
            </div>
        </div>
    </div>
</section>