<!-- Clients Aside -->
    
    <section id="sponsors" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                     <a href="https://www.jetbrains.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/Jetbrains.png" class="img-responsive img-centered" alt="Jetbrains">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://rebelrecruiters.co.uk/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/rebel.png" class="img-responsive img-centered" alt="Rebel Recruiters">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.stkrs.co.uk/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/stkrs-logo.svg" class="img-responsive img-centered" alt="Stkrs">
                    </a>
                </div>
            </div>
        </div>
    </section>